:root{
	/* HEX DAS CORES: */
	--verde:  #00693E;
	--grena:  #A0002B;
	--preta: #141414;

	--opacidade:  linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50) 100%);
}

/** geral **/

html{
	scroll-behavior: smooth;

}

body{
	min-height: 75rem;
	background-color: #141414;
	color: #fff;
	font-family: 'Bebas Neue', cursive;

	background-size: auto 100%;
	background-repeat: no-repeat;
}

h2{
	font-size: 3rem;
}

h3{
	font-size: 2rem;
}

h4{
	padding-top: 10px;
	height: 10%;
}

a, a:link, a:visited, a:hover, a:active{
	text-decoration: none;
}


/** navbar **/

.landing /** foto do jogo em destaque **/ {
	background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50) 100%),
	url('../images/fredon.jpg');
	background-position: center top;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.nav-fixed /** pra barra de navegação permanecer fixa **/{
    width: 100%;
    position: fixed;
    transition: 0.3s ease-in-out;
}

.nav-active /** barra de navegação quando o usário scrolla a página **/{
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 5px -1px 12px -5px grey;
    z-index: 10000;
}

.navbar-collapse{
  text-align: right;
  transition: all .5s;
}


.logo /** NENSEFLIX **/{
	font-size: 2.5rem;
	margin-left: 1.5%;
}

.nense{
	color: #00b368;
}

.flix{
	color: var(--grena);
}

.nav-link /** links da navbar **/{
	color: #fff;
	font-size: 1.5rem;
}


a.nav-link:link, a.nav-link:visited, a.nav-link:active {
	color: #fff;
}


/** jogo do jumbotron **/

.jogo-principal{
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  flex-start;

}

.content-description{
	font-size: 1.5rem;
	margin-bottom: 4%;
}



/*** Customização dos botões principais ***/

.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:10px 18px;
	text-decoration:none;
	text-shadow:0px 1px 18px #ffffff;
	margin-right: .5%;
}
.myButton:hover {
	transition: .3s ease all;
	background-color:var(--verde);
	color: var(--grena);
	box-shadow: none;
	text-shadow: none;
	border:1px solid var(--verde);
}

.myButton:active {
	position:relative;
	top:1px;
}

.myButton .fas {
	margin-right: 0.7em;
}


.sectionDivisor /** divisor de seções **/ {
	text-align: center;
	background: var(--verde);
	margin: 1% auto 4%;
}

.genre /** seção do genero de cada seção de jogos **/ {
	font-size: 1.5rem;
	margin-left: 2%;
	margin-bottom: 1%;
}

.genre-bg{
	background-color: var(--grena);
}


.matchBox /** card referente a cada jogo **/{
  text-align: center;
}


/** setando a imagem de fundo de cada card **/

.jogo1{
  background: var(--opacidade), url('../images/finalcdb2007.jpg');
}

.jogo2{
	background: var(--opacidade), url('../images/20102.png');
}

.jogo3{
	background: var(--opacidade), url('../images/goldebarriga.jpg');
}

.jogo4{
	background: var(--opacidade), url('../images/mjprimeiraliga.jpg');
}

.jogo5{
	background: var(--opacidade), url('../images/gumsula.jpg');
}

.jogo6{
	background: var(--opacidade), url('../images/final84ida.jpg');
}

.jogo7{
	background: var(--opacidade), url('../images/final84volta.jpg');
}

.jogo8{
  background: var(--opacidade), url('../images/finalcarioca2005.jpg');
}

.jogo9{
  background: var(--opacidade), url('../images/finalcarioca1983.jpg');
}

.jogo10{
  background: var(--opacidade), url('../images/fluxsp2008.jpg');
}

.jogo11{
	background: var(--opacidade), url('../images/semiboca2008.jpg');
}

.jogo12{
	background: var(--opacidade), url('../images/fluxcoxa2009.jpg');
}

.jogo13{
	background: var(--opacidade), url('../images/fluxnacional2018.jpg');
}

.cancao1{
	background: var(--opacidade), url('../images/desdequeeunasci.jpg');
}

.cancao2{
	background: var(--opacidade), url('../images/hino.jpg');
}

.cancao3{
	background: var(--opacidade), url('../images/meucoracaoacelera.jpg');
}

.cancao4{
	background: var(--opacidade), url('../images/minharaiz.jpg');
}

.cancao5{
	background: var(--opacidade), url('../images/anunciacaotricolor.jpg');
}

.cancao6{
	background: var(--opacidade), url('../images/desdepequenotesigo.jpeg');
}

.doc1{
	background: var(--opacidade), url('../images/campeaobr2012.jpg');
}

.doc2{

	background: var(--opacidade), url('../images/ffcamazon.jpg');

}

.doc3{
	background: var(--opacidade), url('../images/3coresumapaixao.png');
}

.doc4{
	background: var(--opacidade), url('../images/flafludoc.jpeg');
}

.doc5{
	background: var(--opacidade), url('../images/campeaobr2010.jpg');
}

.jogo1, .jogo2, .jogo3, .jogo4, .jogo5, .jogo6, .jogo7, .jogo8, .jogo9
,.jogo10, .jogo11, .jogo12, .jogo13, .cancao1, .cancao2, .cancao3, .cancao4,
.cancao5, .cancao6, .doc1, .doc2, .doc3, .doc4, .doc5, .landing {
	background-size: cover;
}


/*.genre-action{
  display: flex;
  justify-content: space-between;
}*/



/** botões da parte de baixo dos cards **/

.matchButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 14px;
	text-decoration:none;
	text-shadow:0px 1px 18px #ffffff;
	margin: auto 2%;
}
.matchButton:hover {
	transition: .3s ease all;
	background-color:var(--verde);
	color: var(--grena);
	box-shadow: none;
	text-shadow: none;
	border:1px solid var(--verde);
}

.matchButton:active {
	position:relative;
	top:1px;
}

.matchButton .fas {
	margin-right: 0.7em;
}

.buttonRow{
	margin: 110% 2% auto;
	padding-bottom: 10%;
}

/** caixa da sessão de informações **/

.about-box{
	background-color: var(--verde);
	margin: auto 15% 5%;
}

.about-title{
	background-color: var(--grena);
	font-size: 2rem;
	margin-left: 5%;
}

.about-text{
 margin: 2% 5% auto;
 font-size: 1.5rem;
 padding-bottom: 2%;
 min-width: 80%;
}

#sobre a{
	color: #fff;
	text-decoration: underline;
}

#sobre i{
	margin-right: 1%;
	color: #fff;
	transition: color .3s;
}


#sobre i:hover{
	color: var(--grena);
}


/** rodapé **/
.footer{
	text-align: center;
	font-size: 1.5rem;
	background-color: var(--grena);
	margin-bottom: 0;
}




/**** MEDIA QUERIES *****/



@media (max-width: 900px){

.landing{
		background: var(--opacidade),
		url('../images/fredonmd.jpg');
	}

	.nav-link /** texto do menu colapsável **/{
		text-align: center;
	}

}


@media (min-width: 800px) /** habilitar mudança de cor e tamanho nos links da navbar **/{


	a.nav-link:hover{
	color: var(--grena);
	transform: scale(1.2);
	transition: .3s ease all;
  }

}



@media (max-width: 799px) {

	.matchButton /** momento em que os botoes ficam sobrepostos **/{
		margin: 2% 2%;
	}
}



@media (max-width: 600px){
	.landing{
		background: var(--opacidade),
		url('../images/fredonsm.jpg');
	}

	.nav-active /** opacidade da navbar no modo mobile **/{
		background-color: rgba(0, 0, 0, 0.50);
  }

  .navbar-link{
  	text-align: center;
  }

  .navbar.change{
  	background-color: rgba(0, 0, 0, 0.8);
  	transition: all .3s;
  }

}


/** IPHONE 6/7/8 PLUS **/

@media (max-width: 450px){


	h2{
		font-size: 2rem;
	}

  .content-description{
		font-size: 1.2rem;
	}

	.myButton{
		font-size: 12px;
		padding: 6px 14px;
		margin-top: 10%;
	}

	h4{
		font-size: 1.7rem;
	}

}


/** IPHONE SE - MOTO G4 - IPHONE 6/7/8/X - SAMSUNG S8/S9 **/

@media (max-width: 400px){

	.content-description{
		font-size: 1.1rem;
	}

	h4{
		font-size: 1.5rem;
		min-width: 100%;
	}

	h5{
		font-size: 1rem;
	}

	.about-text a{
		font-size: 1.25rem;
	}

}
